.bookContainer{
    margin:50px 50px;
    text-align: -webkit-center;
    align-items: center;
}

.searchbar{
    background-color: transparent;
    border:2px solid #f1f1f1;
    color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    padding-left: 60px;
    letter-spacing: 0.1rem;
    margin-right: 10px;
    width: 300px;
    margin-bottom: 50px;
}

.svg{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
}
.cards{
    background: transparent;
    background-color: transparent !important;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
}
.card{
    color:#ffffff !important;
}
.button{
    display: flex;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
}
