.bookContainer{
    margin:50px 50px;
    text-align: -webkit-center;
    align-items: center;
}

.searchbar{
    background-color: transparent;
    border:2px solid #f1f1f1;
    color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    padding-right: 85px;
    /* padding-left: 60px; */
    letter-spacing: 0.1rem;
    margin-right: 10px;
    width: 300px;
    margin-bottom: 50px;
}

.svg{
    position: absolute;
    margin-left: -87px;
    margin-top: 9px;
    padding: 7px;
    background: transparent;
    background-color: transparent;
    color: white;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
    /* margin-left: 10px; */
    /* margin-top: 7px; */
}
.cardgrid{
    justify-content: space-evenly !important;
}
.cards{
    background: transparent;
    background-color: transparent !important;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
}
.card{
    color:#ffffff !important;
    /* padding-bottom: 20px; */
    height: 145px;
    overflow: hidden;
}
.title{
    height: 95px;
    overflow-y: hidden;
}
.author{
    height: 50px;
    overflow: hidden;
}
.button{
    position: absolute;
    bottom: 5px;
    display: flex;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
}

@media(max-width:760px){
    .bookContainer{
        margin: 50px 20px;
    }
    .searchbar{
        width: 270px;
    }
}

@media(max-width:420px){
    .searchbar{
        width: 220px;
    }
}
@media(max-width:370px){
    .bookContainer{
        margin: 50px 0px;
    }
    .searchbar{
        width: 150px;
    }
}
