.NewsContainer{
    margin:50px 50px;
    text-align: -webkit-center;
    align-items: center; 
}
.Maincards{
    background: transparent;
    background-color: transparent !important;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.Textcard{
    color:#ffffff !important;
}
.button{
    display: flex;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
}