.filter{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Dropdown-control{
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff !important;
    width: 50vw;
}
.Dropdown-menu{
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff !important;
}
.Dropdown-option{
    color:#fff !important
}
.Dropdown-option:hover{
    background-color: rgba(0,0,0,0.5) !important;
    color:#fff !important
}
.Dropdown-option.is-selected{
    background-color:rgba(0,0,0,0.5) !important;
    color:#fff !important
}
.NewsContainer{
    margin:50px 50px;
    text-align: -webkit-center;
    align-items: center; 
}
.Maincards{
    background: transparent;
    background-color: transparent !important;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.Textcard{
    color:#ffffff !important;
}
.button{
    display: flex;
    color:#ffffff !important;
    border: 2px solid #ffffff !important;
}