.bg{
    position: fixed;
    top: 50%;
    left: 35%;
    color: #fff;
    width: 100%;
    text-align: center;
    display: block;
    transform: translate(-55% , -50%);
    padding: 30px 180px;
    z-index: -1;
}
/* .bg  svg {    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);} */

@media(max-width:1020px){
    .bg{
        top: 43%;
        left: 24%;
        color: #fff;
        width: 110%;
        text-align: center;
        display: block;
        transform: translate(-42% , -39%);
        padding: 30px 180px;
        z-index: -1;
    }
}

@media(max-width:760px){
    .bg{
        top: 75%;
        left: 24%;
        color: #fff;
        width: 185%;
        text-align: center;
        display: block;
        transform: translate(-45% , -61%);
        padding: 30px 180px;
        z-index: -1;
    }
}
@media(max-width:420px){
    .bg{
        top: 69%;
        left: 28%;
        color: #fff;
        width: 190%;
        text-align: center;
        display: block;
        transform: translate(-45% , -61%);
        padding: 30px 180px;
        z-index: -1;
    }
}
@media(max-width:370px){
    .bg{
        top: 70%;
        left: 24%;
        color: #fff;
        width: 240%;
        text-align: center;
        display: block;
        transform: translate(-45% , -61%);
        padding: 30px 180px;
        z-index: -1;
    }
}
